body {
  min-height: 75rem;
}
.fixed-width {
  font-family: Monaco, monospace, courier;
}
.pointer { cursor: pointer;}
.no-break { white-space: nowrap;}
span.danger { color: #d9534f;}
span.success { color: #5cb85c;}

.col-form-label { padding-right: 0;}
.rest-days {
  font-size: 2em;
  margin-top: 24px;
}

.form-compact .form-group { margin-bottom: 0;}
.form-compact .form-group input { padding: 0.15rem 0.5rem;}
.form-compact .form-group label {
  padding-top: calc(0.15rem + 1px);
  padding-bottom: calc(0.15rem + 1px);
}


/* flipper */
.flip-container {
  perspective: 1000px;
  margin-bottom: 16px;
}
.flip-container.flipped .flipper {
  transform: rotateY(180deg);
}
.flip-container, .front, .back, .flip-container .card {
  width: 100%;
  height: 160px;
}
.flipper {
  transition: 0.4s;
  transform-style: preserve-3d;
  position: relative;
}
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}
.front {
  z-index: 2;
  transform: rotateY(0deg);
}
.back {
  transform: rotateY(180deg);
}